.section-title8 {
    font-size: 39px !important;
    font-weight: 700 !important;
    color: #fff !important;
    background-color: #3ab0e2 !important;
    text-align: center !important;
    width: 100% !important;
}

.sec8 {
    background-color: #f76e51;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 30px 0px;
}

.about .about-content {
    padding: 30px !important;
}

.i-tag {
    color: #fff;
    font-size: 14px;
}

.enquiry-form {
    background: #fff;
    margin-left: 16px !important;
    padding: 0px 0px 17px;
}

.form-group {
    margin-bottom: 1rem;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}