.header {
    border-top: 0px solid #ee3b24;
}

.navbar {
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}

.navbar:before,
.navbar:after {
    display: table;
    content: " ";
}

.navbar {
    position: relative;
    z-index: 1000;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

.pull-right {
    float: right!important;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.fa-phone:before {
    content: "\f095";
}

.navbar-toggle {
    background: #ee3b24;
}

.navbar-toggle {
    border-radius: 0;
    margin-right: 5px;
}

.navbar-header {
    z-index: 9999;
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
    .navbar-header {
        float: left;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}

button,
input,
select[multiple],
textarea {
    background-image: none;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    line-height: inherit;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

button,
select {
    text-transform: none;
}

button,
input {
    line-height: normal;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
}

.navbar-collapse {
    max-height: 340px;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
    -webkit-overflow-scrolling: touch;
}

.collapse {
    display: none;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.navbar-collapse:before,
.navbar-collapse:after {
    display: table;
    content: " ";
}

.navbar-right {
    padding-right: 0;
}

@media (min-width: 768px) {
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }
    .navbar-right {
        float: right!important;
    }
    .navbar-nav {
        float: left;
        margin: 0;
    }
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.nav:before,
.nav:after {
    display: table;
    content: " ";
}

@media (min-width: 768px) {
    .navbar-nav>li {
        float: left;
    }
}

ul.navbar-nav>li>a {
    font-family: 'JaapokkiRegular';
    text-transform: uppercase;
    font-size: 15px;
    color: #f7e202;
    padding-top: 16px;
    padding-bottom: 20px;
    line-height: 20px;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 12px;
}

a:link,
a:visited {
    text-decoration: none;
}

.nav>li {
    position: relative;
    display: block;
}

.header-solid ul.navbar-nav>li>a {
    color: #f7e202;
}

.navbar-header {
    z-index: 9999;
}

.navbar-brand.navbar-bg {
    position: absolute;
    left: 0;
    padding: 3px 15px 10px;
    width: 20%;
    height: 62px;
    line-height: 62px;
}

.navbar-brand img {
    float: right;
    padding: 0 15px;
}


/* Main navigation */

.navbar {
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}

.navbar-right {
    padding-right: 0;
}

.navbar-right .dropdown-menu {
    right: auto;
    left: 0;
}

.navbar-toggle {
    border-radius: 0;
    margin-right: 5px;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

ul.navbar-nav>li>a {
    font-family: 'JaapokkiRegular';
    text-transform: uppercase;
    font-size: 15px;
    color: #f7e202;
    padding-top: 16px;
    padding-bottom: 20px;
    line-height: 20px;
}

ul.navbar-nav>li:last-child a {
    padding-right: 0;
}

ul.navbar-nav>li>a i {
    font-weight: 700;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: transparent;
    border: 0;
}


/* Dropdown */

.dropdown-menu {
    border: 0;
    border-radius: 0px;
    width: 100%;
    box-shadow: none;
    background: none;
    min-width: 180px;
}

.dropdown-menu>ul {
    list-style: none;
    padding: 0 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: -5px;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px .09px rgba(0, 0, 0, 0.15);
}

.dropdown-menu>ul>li>a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 10px;
    color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-menu>ul>li:last-child>a {
    border-bottom: 0;
}

.dropdown-menu>ul>li>a:hover,
.dropdown-menu>ul>li>a:focus {
    background: none;
}

.nav>li.megamenu {
    position: static;
}

.nav>li.megamenu .dropdown-menu {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px !important;
    z-index: 1000;
    border-radius: 0;
    top: auto;
}

.nav>li.megamenu .dropdown-menu ul {
    margin-top: 4px;
    padding: 20px;
}

@media ( min-width: 768px) {
    .video-section {
        padding: 100px 0;
    }
    .logo {
        margin: 45px -4px;
        max-width: 270px;
    }
}

@media ( min-width: 992px) {
    .video-section {
        padding: 120px 0;
    }
    .logo {
        margin: 45px -4px;
        max-width: 270px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .logo {
        margin: -14px -4px;
        max-width: 210px;
    }
}

@media (min-width: 1024px) and (max-width: 1268px) {
    .logo {
        margin: -21px -4px;
        max-width: 300px;
        margin-top: -3px;
    }
    .nav-menu ul li a {
        text-transform: uppercase;
        font-size: 13px;
        color: #f7e202;
        padding-top: 16px;
        padding-bottom: 20px;
        line-height: 6px;
        display: block;
        padding: 22px 15px 6px;
        position: relative;
        font-family: 'JaapokkiRegular' !important;
    }
    .nav-menu {
        margin-left: 38px;
        margin-top: 4px;
    }
}

@media (min-width: 1268px) and (max-width: 1468px) {
    .logo {
        margin: -10px 60px;
        max-width: 400px;
        margin-bottom: 10px;
    }
    .nav-menu {
        margin-top: 22px;
        float: right;
        margin-right: 10px;
    }
    .nav-menu ul li a {
        text-transform: uppercase;
        font-size: 15px;
        color: #f7e202;
        padding-top: 16px;
        padding-bottom: 20px;
        line-height: 20px;
        display: block;
        padding: 6px 10px 6px;
        position: relative;
        font-family: 'JaapokkiRegular' !important;
        font-weight: 600;
        /* font-family: 'JaapokkiRegular' !important; */
    }
}

@media (min-width: 275px) and (max-width: 767px) {
    .logo {
        margin: 7px -4px;
        max-width: 175px;
    }
    .nav-menu {
        display: none;
    }
}

.dropdown-toggle::after {
    display: none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

@media (min-width: 768px) {
    .navbar-nav>li {
        float: left;
    }
}

.nav>li {
    position: relative;
    display: block;
}

.dropdown {
    position: relative;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

@media (min-width: 1200px) {
    .navbar-nav .dropdown-menu,
    .navbar-nav .dropdown.megamenu div.dropdown-menu {
        background: none;
        border: 0;
        box-shadow: none;
        display: block;
        opacity: 0;
        z-index: 1;
        visibility: hidden;
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
        transform: scale(.8);
        -webkit-transition: visibility 500ms, opacity 500ms, -webkit-transform 500ms cubic-bezier(.43, .26, .11, .99);
        -moz-transition: visibility 500ms, opacity 500ms, -moz-transform 500ms cubic-bezier(.43, .26, .11, .99);
        -o-transition: visibility 500ms, opacity 500ms, -o-transform 500ms cubic-bezier(.43, .26, .11, .99);
        -ms-transition: visibility 500ms, opacity 500ms, -ms-transform 500ms cubic-bezier(.43, .26, .11, .99);
        transition: visibility 500ms, opacity 500ms, transform 500ms cubic-bezier(.43, .26, .11, .99);
    }
}

.navbar-right .dropdown-menu {
    right: auto;
    left: 0;
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 180px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-clip: padding-box;
}

.dropdown-menu ul li {
    margin-right: 0px !important;
}

.dropdown ul li a {
    text-transform: capitalize !important;
    font-family: 'JaapokkiRegular';
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 10px !important;
    color: #333;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu {
    display: block !important;
}